:root{
    --altezza-header: 80px;

    --larghezza-aside:200px;
    --larghezza-aside-sm:70px;
}

body{
    height: 100vh;
}


/* debug */
.box {
    width: 50px;
    height: 50px;
    border: 1px dashed black;
} 


/* in main_header box_sm_3 posso farlo anche con order:-1 in media query
#box_sm_3 {
    order: -1;
} */


/* Main */
main {
    height: calc(100% - var(--altezza-header));
    background-color: aqua;
    
}
.main_content,
.nav_main {
    height: 100%;
}

.main_content {
    background-color: lightcoral;
    flex-grow: 1;
}
.nav_main{
    background-color: #051e34;
    
}

/* main_header */

.main_header {
    min-height: 50px;
    background-color: aqua;
    
}