:root{
    --altezza-header: 80px;

    --larghezza-aside:200px;
    --larghezza-aside-sm:70px;
}

body{
    height: 100vh;
}


/* debug */
.box {
    width: 50px;
    height: 50px;
    border: 1px dashed black;
} 



/* Main */
main {
    height: calc(100% - var(--altezza-header));
   
    
}
.main_content,
.nav_main {
    height: 100%;
}

.main_content {
   
    flex-grow: 1;
    overflow: auto;
}
.nav_main{
    background-color: #051e34;
    
}

/* main_header */

.main_header {
    min-height: 50px;
    background-color: #1b72e8;    
}
/* CARDS */
.table img {
    width: 40px;
    aspect-ratio: 1;
}
/* OFFCANVAS */
.offcanvas.offcanvas-end {
    width: 800px;
}



@media screen and (min-width:768px) {
   #box_sm_3 {
    order: 1;
   } 
    
}

@media screen and (min-width:992px) {
   .icon_nav {
    min-width: 100px;
   } 
    
}